PORT=<<CUSTOM_PORT_HERE>
NODE_ENV=<APP_ENVIRONMENT>
SECRET=<JWT_SECRET>
DATABASE_DEV_HOST=<HOST_URL_OF_DATABASE_DEVELOPMENT>
DATABASE_DEV=<USERNAME_OF_DATABASE_DEVELOPMENT>
DATABASE_DEV_PASSWORD=<PASSWORD_OF_DATABASE_DEVELOPMENT>
DATABASE_PASSWORD_PROD=<PASSWORD_OF_DATABASE_PRODUCTION>
DATABASE_HOST_PROD=<HOST_URL_OF_DATABASE_PRODUCTION>
DATABASE_PROD=<USERNAME_OF_DATABASE_PRODUCTION>
DATABASE_PASSWORD_TEST=<PASSWORD_DATABASE-TEST>
DATABASE_TEST=<DATABASE_TEST>
DATABASE_HOST_TEST=<DATABASE_TEST_URL>
DATABASE_PASSWORD_DEV=<PASSWORD_OF_DATABASE_DEVELOPMENT>
DATABASE_HOST_DEV=<HOST_URL_OF_DATABASE_DEVELOPMENT>
EMAIL=<GMAIL_ADDRESS>
EMAIL_PASSWORD=<GMAIL_ADDRESS_PASSWORD>
API_KEY=<FIREBASE_API_KEY>
AUTH_DOMAIN=<FIREBASE_AUTH_DOMAIN>
DATABASE_URL=<FIREBASE_DATABASE_URL>
PROJECT_ID=<FIREBASE_PROJECT_ID>
STORAGE_BUCKET=<FIREBASE_STORAGE_BUCKET>
MESSAGING_SENDER_ID=<FIREBASE_MESSAGING_SENDER_ID>
ADMIN_EMAIL=<SET_EMAIL_OF_DEFAULT_ADMIN>