<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster Two">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./scss/dashboard.css">
    
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<style type="text/css">
	.card {
		margin-bottom: 2%;
	}
</style>
<div class="container-fluid">
	<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <ul class="largenav pull-right">
                <li class="upper-links"><a class="links" href="#" style="color: white">Efosa okpugie <span style="font-size: 50px;color: green">.</span></a></li>
                <li class="upper-links"><a class="links" href="./dashboard.html" style="color: skyblue">home</a></li>
                <li class="upper-links"><a class="links" href="./addevent.html" style="color: skyblue">Add Events</a></li>
                <li class="upper-links"><a class="links" href="./addcenter.html" style="color: skyblue">Add Centers</a></li>
                <li class="upper-links"><a class="links" href="../index.html" style="color: skyblue">Log Out</a></li>
            </ul>
        </div>

        <div class="row row2">
            <div class="col-sm-2">
                <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()" style="color: pink">☰ Events Manager</span></h2>
                <h1 style="margin:0px;"><span class="largenav brand" style="color: pink;font-size: 1.2em">Events~manager</span></h1>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Discover Event Centers" name="" style="font-family: 'Lobster Two', serif;">
                    <button class="btn flipkart-navbar-button col-xs-1 searchbtn">
                        <i class='fa fa-search'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: pink; padding-top: 10px;">
        <span class="sidenav-heading">Sign in</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <a href="./dashboard.html" class="sidenav-links">Home</a>
    <a href="./addcenter.html" class="sidenav-links"> Add Center</a>
    <a href="./addevent.html" class="sidenav-links"> Add Event</a>
    <a href="./signup.html" class="sidenav-links">See Your Events</a>
    <a href="../index.html" class="sidenav-links">Logout</a>
</div>

<div class="user-centers" style="margin-top: 5%">
<h3 class="text-center" style="color: white">Your Centers</h3>
  <div class="row">
	<div class="col-xs-4 col-sm-4 col-lg-4">
			<div class="card img-fluid" style="width:500px;color: white">
    <img class="card-img-top card-image imagec-two" src="./images/demo1.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title" style="color: pink">VGC</h4>
      <p class="card-text">Emerys Wedding Center<br><a href="./eventcenterdetails.html" style="color: red"><b>See details</b></a></p>
      <a href="./modifycenter.html" style="color: red">Modify details</a>
    </div>
  </div>
		</div>
		<div class="col-xs-4 col-sm-4 col-lg-4">
			<div class="card img-fluid" style="width:500px;color: white">
    <img class="card-img-top card-image imagec-two" src="./images/demo1.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title" style="color: pink">VGC</h4>
      <p class="card-text">Emerys Wedding Center<br><a href="./eventcenterdetails.html" style="color: red"><b>See details</b></a></p>
      <a href="./modifycenter.html" style="color: red"><b>Modify details</b></a>
    </div>
  </div>
		</div>
		<div class="col-xs-4 col-sm-4 col-lg-4">
			<div class="card img-fluid" style="width:500px;color: white">
    <img class="card-img-top card-image imagec-two" src="./images/demo1.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title" style="color: pink">VGC</h4>
      <p class="card-text">Emerys Wedding Center<br><a href="./eventcenterdetails.html" style="color: red"><b>See details</b></a></p>
      <a href="./modifycenter.html" style="color: red"><b>Modify details</b></a>
    </div>
  </div>
		</div>
		<div class="col-xs-4 col-sm-4 col-lg-4">
			<div class="card img-fluid" style="width:500px;color: white">
    <img class="card-img-top card-image imagec-two" src="./images/demo1.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title" style="color: pink">VGC</h4>
      <p class="card-text">Emerys Wedding Center<br><a href="./eventcenterdetails.html" style="color: red"><b>See details</b></a></p>
      <a href="./modifycenter.html" style="color: red"><b>Modify details</b></a>
    </div>
  </div>
		</div>
		<div class="col-xs-4 col-sm-4 col-lg-4">
			<div class="card img-fluid" style="width:500px;color: white">
    <img class="card-img-top card-image imagec-two" src="./images/demo1.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title" style="color: pink">VGC</h4>
      <p class="card-text">Emerys Wedding Center<br><a href="./eventcenterdetails.html" style="color: red"><b>See details</b></a></p>
      <a href="./modifycenter.html" style="color: red"><b>Modify details</b></a>
    </div>
  </div>
		</div>
		<div class="col-xs-4 col-sm-4 col-lg-4">
			<div class="card img-fluid" style="width:500px;color: white">
    <img class="card-img-top card-image imagec-two" src="./images/demo1.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title" style="color: pink">VGC</h4>
      <p class="card-text">Emerys Wedding Center<br><a href="./eventcenterdetails.html" style="color: red"><b>See details</b></a></p>
      <a href="./modifycenter.html" style="color: red"><b>Modify details</b></a>
    </div>
  </div>
		</div>
		</div>
	</div>
</div>

</div>
</div>

<div class="footer">

	<div class="copyright-text"><p class="text-center">All rights reserved &copy; Events-manager 2017.</p></div>

</div>
</body>
<script type="text/javascript">
	$(document).ready(function () {

    $("#sidebar").mCustomScrollbar({
         theme: "minimal"
    });

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
</script>
</html>
