<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster Two">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./scss/signin.css">
    
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <ul class="largenav pull-right">
                <li class="upper-links"><a class="links" href="../index.html" style="color: skyblue">Home</a></li>
                <li class="upper-links"><a class="links" href="../index.html" style="color: skyblue">About Us</a></li>
                <li class="upper-links"><a class="links" href="../index.html" style="color: skyblue">See Centers</a></li>
                <li class="upper-links"><a class="links" href="./signin.html" style="color: skyblue">Sign In</a></li>
            </ul>
        </div>
        <div class="row row2">
            <div class="col-sm-2">
                <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()" style="color: pink">☰ Events Manager</span></h2>
                <h1 style="margin:0px;"><span class="largenav brand" style="color: pink;font-size: 1.2em">Events~manager</span></h1>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Discover Event Centers" name="" style="font-family: 'Lobster Two', serif;">
                    <button class="btn flipkart-navbar-button col-xs-1 searchbtn">
                        <i class='fa fa-search'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: pink; padding-top: 10px;">
        <span class="sidenav-heading">Sign in</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <a href="../index.html" class="sidenav-links">Home</a>
    <a href="../index.html" class="sidenav-links">About</a>
    <a href="../index.html" class="sidenav-links">See Centers</a>
    <a href=".//signup.html" class="sidenav-links">Sign Up</a>
</div>
<div class="container signup-padder"> 
   <div class="sign-in-container">
   <div class="form-header">
   	  <p class="text-center header-form" style="margin-top: 3%;font-size: 1.5em">Sign Up</p>
   </div>
   <form class="form form-group">
   	  <input type="text" name="firstname" placeholder="firstname" class="form-control first-name">
   	  <br>
   	  <input type="text" name="lastname" placeholder="lastname" class="form-control">
   	  <br>
   	  <input type="text" name="email" placeholder="email" class="form-control">
   	  <br>
   	  <input type="password" name="password" placeholder="password" class="form-control">
   	  <br>
   	  <input type="password" name="password" placeholder="retype password" class="form-control">
   	  <br>
   	  <div class="button-container">
   	  	  <button class="btn btn-submit btn-default" style="font-family: 'Lobster Two', serif;"><a href="./dashboard.html">Sign Up</a></button>
   	  </div>
   	  <div>
   	  	  <p class="text-center" style="font-size: 1.1em">Have an account already? sign in <span class="switchform" style="color: skyblue"><a href="./signin.html"> here</a></span></p>
   	  </div>
   </form>
   </div>
   </div>
</div>
<div class="footer">

	<div class="copyright-text"><p class="text-center">All rights reserved &copy; Events-manager 2017.</p></div>

</div>
</body>
<script type="text/javascript">
	const openNav = () => {
    document.getElementById("mySidenav").style.width = "70%";
    // document.getElementById("flipkart-navbar").style.width = "50%";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
	}

    const closeNav = () => {
    document.getElementById("mySidenav").style.width = "0";
    document.body.style.backgroundColor = "rgba(0,0,0,0)";
	}
</script>
</html>