<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster Two">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./scss/signin.css">

	<script type="text/javascript" src='./js/jquery.js'></script>
	<script type="text/javascript" src='./js/all.js'></script>
</header>
<div class="form-holder">
   	  <input type="text" name="email" placeholder="email" class="form-control">
   	  <br>
   	  <input type="password" name="password" placeholder="password" class="form-control">
   	  <br>
   	  <div class="button-container">
   	  	  <button class="btn btn-submit btn-default" style="font-family: 'Lobster Two', serif;">Sign In</button>
   	  </div>
   	  <div>
   	  	  <p class="text-center" style="font-size: 1.1em">Have an account already? sign up <span class="movetosignin" style="color: skyblue">here</span></p>
   	  </div>
</div>
