body {
  font-family: 'lobster Two', serif;
  background-size: 100% 100%;
  position: relative;
  overflow: auto; }

* {
  box-sizing: border-box; }

.active {
  background-color: #717171; }

.img-one {
  width: 100%; }

.descriptions {
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 1%; }

.describe {
  background-color: pink;
  margin-left: 6%;
  margin-bottom: 2%; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s; }