.links:hover {
	color:pink;}

.sign-in-container {
  width: 320px;
}

.signup-padder {
  margin-top: 100px;
  width: 350px;
}

.upload-percentage-indicator {
  font-size: 1.5em;
  color: green;
}

.signup, .signin {
  margin-top: 0%;
  background-color: pink;
  height: 450px;
}

.signup {
  height: 520px;
}

.signin-alert {
  padding: 0px;
}

.upload-options-section {
  margin-top: 5px;
}

.form-header {
  height: 50px;
  background-color: pink;
  color: white;
  margin-bottom : 10px;
}

.form-group {
  padding-right: 25px;
  padding-left: 25px;
}

.alert {
  margin-bottom: 0px;
}

.form-control {
  font-family: 'Lobster Two', serif;
  border: 1px solid grey;
  margin-top: 0px;
  margin-bottom: 5px;
}

.sign-in-container {
  background-color: pink;
}

.usericon {
  padding-left : 70px;
  padding-right: 70px;
  padding-bottom: 50px;
}

.button-container, .loader-padder {
  padding-left : 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}