body {
  font-family: 'Lobster Two', serif;
  background-repeat: no-repeat;}

.links:hover {
	color:pink;}

.signup-padder {
  margin-top: 100px;
  border: none;
  width: 400px;
}

.signup, .signin {
  margin-top: 0%;
  background-color: pink;
  height: 485px;
}

.form-header {
  height: 50px;
  background-color: pink;
  color: white;
}

signup-padder {
  font-family: 'Lobster Two', serif;
  padding-left: 50px;
  padding-right: 50px;
}

.form-group {
  padding-right: 25px;
  padding-left: 25px;
}

.button-container {
  padding-right: 100px;
  padding-left: 100px;
}

.form-control {
  font-family: 'Lobster Two', serif;
  border: 1px solid grey;
}

.sign-in-container {
  margin-top: 80px;
}

.usericon {
  padding-left : 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.button-container {
  padding-left : 120px;
  padding-right: 120px;
  padding-bottom: 20px;
}

.form-container {
  padding-top: 20px;
}
