.links:hover {
	color:pink;}

.sign-in-container {
  width: 320px;
}

.signup-padder {
  margin-top: 100px;
  width: 350px;
}

.signup, .signin {
  margin-top: 0%;
  background-color: pink;
  height: 450px;
}

.signup {
  height: 500px;
}

.form-header {
  height: 50px;
  background-color: pink;
  color: white;
  margin-bottom : 10px;
}

.form-group {
  padding-right: 25px;
  padding-left: 25px;
}

.form-control {
  font-family: 'Lobster Two', serif;
  border: 1px solid grey;
  margin-top: 0px;
  margin-bottom: 5px;
}

.sign-in-container {
  background-color: pink;
}

.usericon {
  padding-left : 70px;
  padding-right: 70px;
  padding-bottom: 50px;
}

.button-container {
  padding-left : 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}