$widthact : 1300px;

.header-form {
  margin-top: 50px;
}

body {
  max-width: 100%;
  font-family: Tajawal;
}

.side-action {
  width: 100%;
  margin-right: 50px;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  height: 65px;
}

.action-view {
  max-width: 1000px;
}

th {
  text-align: center;
  margin-left: 50px;
}

.btn-upgrade, .btn-downgrade {
 height: 30px;
 font-size: 0.7em;
}

.btn-upgrade {
  background-color: #C51162;
  color: #f2f2f2;
}

.all-users-page {
  margin-top: 7%;
  font-family: 'Open-Sans', sans-serif;
}

.facilities-header {
  font-family: "Open Sans", sans-serif;
}

.form-control {
  margin-top: 10px;
}
.add-image-m-btn, .modify-image-btn {
  margin-left: 220px;
  background-color: #C51162;
  color: white;
  border-radius: 25px;
}

.add-image-m-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
label {
  margin-top: 10px;
}

.upload-btn-m {
  margin-left: 100px;
  background-color: #aaaaaaaa;
}

.cancel-btn {
  font-size: 0.8em;
  color: #C51162;
  border-radius: 25px;
}

.uploadbar-m {
  width: 400px;
  margin-left: 120px;
}

.upload-options-section-m {
  margin-left: 180px;
  margin-top: 15px;
}

.upload-options-section {
  margin-left: 50px;
  margin-top: 5px;
}

.fa-play, .fa-pause {
  font-size: 1.3em;
  color: #F50057;
}

.cancel-btn {
  font-size: 0.8em;
  border-radius: 25px;
  background-color: #C51162;
  color: white;
  height: 30px;
  margin-left: 50px;
}

.upload-btn {
  width: 70px;
  height: 30px;
  font-size: 0.8em;
  margin-top: -105px;
  background: #BDBDBD;
  margin-left: 120px;
}

.btn-addcenter {
  background-color: #C51162;
  color: white;
  width: 30%;
}

.btn-back-section {
  border-bottom: 50px;
}

.section-upload {
  padding-left: 100px;
  padding-right: 50px;
  width: 100%;
}

.btn-save-m {
  width: 70px;
  border-radius: 25px;
  background-color: #C51162;
  color: white;
}

.events-header-name {
  padding-bottom: 10px;
}

.btn-add, .btn-modify {
  margin-bottom: 20px;
}

.one-events-info {
  margin-top: 80px;
  border-bottom: 2px solid black;
}

.btn-search:hover {
  background-color: #C51162;
  color: 'white'
}

.change-image-section {
  margin-left: 100px;
}

.fa-search:hover {
  color: 'white'
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-facilities {
  background-color: #C51162;
}

.center-btn-group {
  margin-left: 50px;
}

.title-booked {
  text-align: center;
  font-weight: bold;
}

.btn-booked-dates {
  background-color: #F50057;
}

.btn {
  border-radius: 25px;
}

.table-booked {
  text-align: center;
}

.center-name {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 200px;
}

.btn-choose-file {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btn-save-m {
  background-color: #C51162;
  width: 150px;
  border-radius: 25px;
}

.btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.join-us-btn {
  background-color:#C51162;
  color: white;
}

.view-centers-btn {
  background-color: #C51162;
  color: white;
}

.btn-card-info {
  background-color: #F50057
}

.auth-nav-links:visited {
  color: #BDBDBD;
}

.auth-nav-links {
  font-size: 0.7em;
}

.auth-nav-links:hover {
  color: #F50057;
}

.sidelinks {
  padding-top: 120px;
  font-size: 1.2em;
}

.dark-grey-text {
  margin-top: 120px;
}

.add-image-btn {
  margin-left: 40%;
  margin-right: 40%;
}

.profile-links {
  margin-top: 50px;
}

.profile-initials {
  width: 50px;
  height: 50px;
  background-color: pink;
  border-radius: 50%;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 70px;
  margin-right: 70px;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  border: 1px solid grey;
  width: 1%;
  height: 5px;
  background-color: #4CAF50;
}

.fullname {
  display: block;
  color: white;
  font-size: 0.8em;
  margin-left: 50px;
}

.btn-logout {
  border-radius: 25px;
}

.btn-logout:hover {
  background-color: #C51162;
  color: white
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box; }

#home {
  background-image: url(./images/landingimg.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.4);
  position: relative;
  height: 500px;
  font-family: 'Open Sans', sans-serif;
}

.full-bg-img {
  background-color: rgba(0,0,0,0.8);
  height: 500px;
}
.slide-up {
  color: white;
  margin-top: 100px;
  background-color: pink;}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

  .nav-item {
    margin-left: 5px;
  }

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  border-top: 1px solid #BDBDBD;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  height: 100px;
  height: 50px;}

.footer-one {
  margin-top: -3%;
  margin-top: 1%;
  margin-left: 80%;
  font-size: 1em; }

.text-footer {
  margin-top: 1%;
  margin-left: 2%; }

.footer-text {
  padding: 7%;
  font-size: 1em; }

.smallnavsearch {
  width: 80%;
}

.load-user-icon {
  margin-top: 200px;
  margin-right: 500px;
}

.nav-link {
  color: #BDBDBD;
  font-family: 'Open Sans', sans-serif;
}

.nav-link:hover {
  color: #F50057;
}

.users-page {
  margin-top: 20px;
}

.userevents-large {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

label {
  font-family: 'Open sans', sans-serif;
}

.upcoming-events-section,  .about-us-section, .testimonies-section {
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  border-top: 1px solid #BDBDBD;
  width: 100%;
}


.about-us-section {
  background-color: #212121;
}

video {
  z-index: 1000;
}

.testimonies {
  margin-top: 30px;  
}

.about-us {
  margin-top: 50px;
}

.fa-plus, .fa-check {
  font-size: 2.4em;
  color: #BDBDBD;
}

.text-testimony {
  width: 300px;

}

.upcoming-events-section-header, .about-us-section-header, .testimonies-section-header {
  margin-top: 30px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.about-us-section-header {
  color: white;
}

.img-correspondent {
  width: 120px;
  height: 120px;
}

.card-title {
  margin-top: 10px;
  margin-left: 20px;
}

.testimony-text-section {
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  margin-top: 10px;
}

.btn-modify {
  width: 250px;
  background-color: #F50057;
  color: white;
}


.name-testimonial {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}

.card-body {
  height: 80px;
}

.date-of-event {
  margin-left: 20px;
  color: #BDBDBD;
  font-size: 0.7em;
  font-weight: bolder;
}

.card-menu {
  color: #BDBDBD;
  margin-top: -40px;
  padding-left: 250px;
}

.userevents-small {
  margin-top: 100px;
  margin-left: 1px;
  margin-right: 1px;
}

.center-info-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  border-bottom: '2px solid black'
}

.c-menu {
  font-size: 0.8em;
  background-color: #F50057;
  width: 80px;
  height: 30px;
  color: white;
}

.c-menu:hover, .btn-get-started:hover {
  background-color: #C51162
}

.btn-get-started {
  border-radius: 25px;
}

.center-name {
  font-size: 2.3em;
  font-family: 'Open Sans', serif;;
  font-weight: 5px;
}

.image-center {
  height: 550px;
}

.center-capacity {
  margin-top: 50px;
  font-size: 1.8em;
}

.center-features {
  background-color: pink;
  width: 300px;
  color: black;
}

.center-capacity {
  font-size: 4.5em;
}

.edit-form {
  width: 500px;
  padding-left: 200px;
  padding-right: 220px;
}
.modify-center {
  margin-top: 50px;
  background-color: white;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.center-image-section {
  margin-bottom: 12px;
  margin-top: 20px;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.center-image {
  width: 400px;
  margin-left: 120px;
}

.edit-section {
  width: 400px;
}

.edit-section2, .edit-section3, .edit-section1 {
  width: 50px;
}


.edit-section1, .edit-section3, .edit-section2 {
  background-color: black;
  color: white;
}

.edit-section2, .edit-section3 {
  margin-left: 20px;
}

.card:hover {
  z-index: 20px;
}

.upcoming-events, .acenter {
  margin-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.catalogs {
  padding-left: 60px;
  max-width: 100%;
  width: 100%;
}

.all-centers {
  margin-left: -20px;
  margin-top: 80px;
  width: 100%;
}

.delete-prompt {
  background-color: red;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.one-center {
  font-family: 'Open Sans', sans-serif;
  margin-top: 150px;
}

.img-oneCenter:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-center {
  margin-top: 50px;
  border-radius: 15px;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fade-in-on-load {animation-duration: 2.3s; animation-name: fadeInOnLoad;}
@keyframes fadeInOnLoad {
0%,50% {opacity: 0;}
100% {opacity: 1;}
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.upcoming-events-section {
  padding-left: 25px;
  padding-right: 25px;
  width: 95%;
}

.left-right-btns {
  margin-left: -5px;
  border-bottom: 5px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.feature-center-card, .all-centers-card {
  width: 0px;
  margin-left: -40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.card {
  width: 415px;
  border-radius: 0px;
}

.card-body {
  font-family: 'Open Sans', sans-serif;
}

.header-section {
  color: #F50057;
  margin-top: 50px;
}

.section-header {
  margin-top: 50px;
}

.btn-logout {
  color: white;
  background-color: #F50057;
}

.section-header {
  font-family : 'Open-sans', sans-serif;

}
.action-buttons {
  margin-left: 30px;
}

.edit-btn:hover, .modify-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit-btn {
  background-color: #C51162;
  color: white;
  width: 60px;
  font-size: 0.6em;
  height: 25px
}

.btn-add {
  background-color: #C51162;
  margin-bottom: 20px;
  color: white
}
.event-name {
  margin-left: 60px;
  font-family: 'Open Sans', sans-serif;
}

.eventDetails {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1px solid #BDBDBD;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #C51162;
  font-size: 12px;
  border: 1px solid #C51162;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.toast-prompt {
  font-family: 'Open Sans', sans-serif;
}
.img-center-a {
  width: 100%;
}

.form-three {
  width: 400px,
}

.modify-btn {
  background-color: #F50057;
  color: white;
  width: 20px;
  font-size: 0.6em;
  width: 60px;
  height: 25px
}

.event-action-buttons {
  padding-left: 125px;
  padding-right: 125px;
}

.detail-key {
  font-weight: bold;
}

.modify-event-form, .add-event-form {
  margin-top: 130px;
}

.all-centers-text {
  margin-top: -200px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 4.5em;
  text-align: center;
}

.event-body {
  margin-top: -20px;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: #F50057
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #F50057
}

.spinner .bounce3 {
  background-color: #F50057
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
  @media (max-width: 1199.98px) {
    .img-correspondent {
      margin-left: 50px;
    }
    .all-centers-card {
      width: 280px;
      margin-right: 20px;
    }
    .action-buttons {
      margin-left: -100px;
    }
    .one-center {
      margin-top: 90px;
    }

    .modify-event-form, .add-event-form {
      margin-top: 50px;
    }
    .upload-options-section {
      margin-left: 10px;
      margin-top: 5px;
    }
  }

  @media (max-width: 991.98px) {
    .testimony-info {
      margin-right: 0px;
      margin-left: 0px;
    }
    .navbar {
      font-family: 'Open Sans', sans-serif;
      box-shadow: none;
      height: 60px;
    }
    .all-centers-card {
      width: 300px;
      margin-left: -30px;
    }
    .testimony-info {
      padding-left: 30px;
      padding-right: 30px;
    }
    .upcoming-events-section, .all-centers  {
      padding-left: 10px;
      padding-right: 10px;
    }
    .action-buttons {
      margin-left: -80px;
    }
  }

  @media (max-width: 767.98px) {
    .first-info {
      margin-bottom: 50px;
    }
    .view-centers-btn {
      background-color: #C51162;
      color: white
    }
    .join-us-btn {
      background-color: #F50057;
      color: white;
    }
    .testimony-info {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
    

  @media (max-width: 575.98px) and (min-width: 381.00px) {
    .dark-grey-text {
      margin-top: 40px;
    }
    .img-center {
      padding-left: 30px;
      padding-right: 30px;
    }
    .all-centers-card {
      width: 350px;
      margin-left: -55px;
    }
    .section-header {
      margin-left: 40px;
    }
    .white-text {
      font-size: 2.1em;
      margin-top: 5px;
    }
    .testimonies-section {
      width: 100%;
    }
    .first-testimony, .second-testimony {
      width: 100%;
      box-shadow: 0px;
    }
    .feature-center-card{
      width: 350px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .card-menu {
      margin-left: -50px;
    }
    .first-info {
      margin-bottom: 50px;
    }
    .view-centers-btn {
      background-color: #C51162;
      color: white;
    }
    .join-us-btn {
      background-color: #F50057;
      color: white;
    }
    .img-correspondent {
      margin-right: 50px;
      margin-left: 50px;
    }
    .upcoming-events {
      margin-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .testimony-text-section {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      margin-top: 10px;
    }
   }
@media (max-width: 380.98px) {
  .dark-grey-text {
    margin-top: 40px;
  }
  .img-center {
    padding-left: 30px;
    padding-right: 30px;
  }
  .white-text {
    font-size: 2.1em;
    margin-top: 5px;
  }
  .testimonies-section {
    width: 100%;
  }
  .first-testimony, .second-testimony {
    width: 100%;
    box-shadow: 0px;
  }
  .section-header {
    margin-left: 40px;
  }
  .all-centers {
    width: 100%;
  }
  .feature-center-card {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .all-centers-card {
    width: 300px;
    margin-left: -55px;
  }
  .card-menu {
    margin-left: -20px;
  }

  .action-buttons {
    margin-left: -80px;
  }
  .first-info {
    margin-bottom: 50px;
  }
  .view-centers-btn {
    background-color: #C51162;
    color: white;
  }
  .join-us-btn {
    background-color: #F50057;
    color: white;
  }
  .img-correspondent {
    margin-right: 50px;
    margin-left: 50px;
  }
  .upcoming-events {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .testimony-text-section {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 10px; 
  }
  .modify-center {
    margin-top: 100px;
  }
  .center-image-section {
    margin-bottom: 12px;
    margin-top: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .center-image {
    width: 1000px;
  }
  .upload-options-section {
    margin-left: 10px;
    margin-top: 5px;
  }
 }